body {
  background-color: #392033;
}
h1 {
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 4vw;
}
#buttonBg {
  left: 0%;
  width: 30vw;
  height: 12vh;
  border-radius: 10px;
  background-color: #fd6051;
  z-index: 1;
  position: absolute;
  transition: left 0.5s;
}
.contact__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  margin: 0 5vw;
}
